# https://github.com/github/gitignore/tree/master/Global

*.DS_Store
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
bower_components

# Optional npm cache directory
.npm

# local project database. i.e. MongoDB's $ mongod --dbpath=local-database
local-database
